
@{
    ViewBag.Title = "Create";
}

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Create Auction</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form id="createForm" action="/Auctions/Create" method="post">
    <div class="modal-body">
        <div class="form-group">
            <label>Title</label>
            <input class="form-control" name="Title">
        </div>
        <div class="form-group">
            <label>Description</label>
            <input class="form-control" name="Description">
        </div>
        <div class="form-group">
            <label>Actual Amount</label>
            <input class="form-control" name="ActualAmount">
        </div>
        <div class="form-group">
            <label>StatringDate</label>
            <input class="form-control" name="StartingDate">
        </div>
        <div class="form-group">
            <label>EndingDate</label>
            <input class="form-control" name="EndingDate">
        </div>
        <div class="form-group">
            <label>Select Pictures</label>
            <input class="form-control" id="auctionPictures" name="AuctionPictures" type="file" multiple>
            <div id="picturesArea" class="img-fluid"></div>
            <input type=" name="AuctionPictures" />
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" id="saveButton" class="btn btn-success">Save Changes</button>
        </div>
    </div>
</form>

<script>
    $("#saveButton").click(function () {
        $.ajax({
            url: "@Url.Action("Create","Auctions")",
            type: "post",
            data: $("#createForm").serialize()
        }).done(function (response) {
           
            $("#listingArea").html(response)
            $("#formModal").modal("toggle")
        });
    });
    // when we uploading file then the change function fires.
    //$("#auctionPictures").change(function () {

    //    debugger;
    //    var pictures = this.files;
    //    var picsData = new FormData();

    //    for (var i = 0; i < pictures.length; i++) {
    //        picsData.append("Pictures", pictures[i]);
    //    }
        
    //    $.ajax({
            
    //        url: "/Shared/UploadPictures",
    //        type: "POST",
    //        data: picsData,
    //        dateType: "json",
    //        processData: false,
    //        contentType: false

    //    }).done(function (responses) {
    //        debugger;
    //        for (var i = 0; i < responses.length; i++) {

    //            var picResponse = responses[i];

    //            var imageHtml = "<img src =/Content/images/" + picResponse.pictureURL + "/>";
    //            $("#pictureArea").append(imageHtml);
    //        }
    //    });
    //});
    $("#auctionPictures").change(function () {

		var pictures = this.files;

		var picsData = new FormData();

		for (var i = 0; i < pictures.length; i++) {
			picsData.append("Picture", pictures[i]);
		}

		$.ajax({
			url: "@Url.Action("UploadPictures", "Shared")",
			type: "post",
			data: picsData,
			dateType: "json",
			processData: false,
			contentType: false
		})
        .done(function (responses) {
            debugger;
			for (var i = 0; i < responses.length; i++) {
                var picResponse = responses[i];
                var imageHtml = "<img src =" + picResponse.pictureURL + ">";
                $("#picturesArea").append(imageHtml);
			}
		});
	});
</script>
