
@model List<DealDouble.Entities.Auctions>
@{
    ViewBag.Title = "Index";
}


    <div id="listingArea">
        @{Html.RenderAction("Listing");}
    </div>

    <!-- Modal Trigger Button -->
    <button id="createButton" class="btn btn-success" type="button">AddNewRecord</button>
    <!-- Modal -->
    <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="contentArea">

            </div>
        </div>
    </div>
    <script>

        $("#createButton").click(function () {

            $.ajax({
                url: "@Url.Action("Create","Auctions")"
            }).done(function (response) {
                $("#formModal").modal("toggle")
                $("#contentArea").html(response)

            })
        });
    </script>

